<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/message.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <h1><%= title %></h1>
      </header>

      <main class="message-details-container">
        <div class="message-author">
          <img src="/images/profile-icon.png" alt="profile-picture" class="profile-picture" />
          <h3><%= message.user %></h3>
        </div>
        <p><%= message.text %></p>
        <p><%= message.added.toLocaleString() %></p>
        <a href="/" class="btn-home">Back to Messages</a>
      </main>
    </div>
  </body>
</html>
